<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a routerLink="/inicio" class="navbar-brand">Inicio</a>
  <ul class="navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/departamentos" class="nav-link">Departamentos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/conceptos" class="nav-link">Concepto Retributivo</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/empleados" class="nav-link">Empleados</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/nomina" class="nav-link">Nómina</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>